body {
    color: #ffffff;
    font-family: 'Fredericka the Great', cursive;
    background-image: url('../images/caffeine-coffee-coffee-beans-861090.jpg');
    background-repeat: no-repeat;
    background-size: 2560px auto;
}

#startScreen, #gameScreen, #loseScreen, #winScreen, .remainBox, .missedBox {
    background-color: #373D39;
}

#startScreen {
    display: block;
}

#gameScreen, #guessScreen, #loseScreen, #winScreen {
    display: none;
}

#guessScreen {
    height: 300px;
}

#missedLetters {
    font-size: 3rem;
    letter-spacing: 20px;
}

#guessRemain {
    font-size: 3rem;
}

.remainBox, .missedBox {
    border: 10px;
    border-style: solid;
    border-color: rgb(185, 136, 87);
}

#wordDisplay {
    letter-spacing: 20px;
}

#player {
    position: absolute;
    bottom: 1%;
    left: 1%;
}

#playlist {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}